Package: com.NsBm0d.Liquefied
Name: Liquefied
Version: 1.0.1
Depends: mobilesubstrate (>= 0.9.5000), preferenceLoader (>= 2.2.2), firmware (>= 8.0)
Conflicts: net.limneos.aquaboard, com.fuyuchi.unlockize
Architecture: iphoneos-arm
Author:  NsBm0d  <repo@hackyouriphone.org>
Depiction: http://repo.hackyouriphone.org/depiction/depiction.php?filename=aquaboard8
Section: NMods
Description: Amazing Water Effects On SpringBoard
Homepage: http://repo.hackyouriphone.org/depiction/depiction.php?filename=aquaboard8
Maintainer:  NsBm0d  <repo@hackyouriphone.org>
