Architecture: iphoneos-arm
Author:  NsBm0d 
Depends: Anemone
Depiction: https://github.com/NsBm0d/NsBm0d.github.io
Description: Light Theme iOS8&9
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: NsLight
Package: com.NsBm0d.NsLight
Section: NThemes
Version: 1.0.1
