Architecture: iphoneos-arm
Author:  NsBm0d 
Depiction: https://github.com/NsBm0d/NsBm0d.github.io
Description: New List updated
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: Apkrepo
Package: com.NsBm0d.Apkrepo
Section: Cydia Sources
Version: 1.0
